[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
parameterized = "*"

[packages]
django = "==3.0.8"
django-dotenv = "*"
django-allauth = "*"
geopy = "==2.0.0"
glom = "*"
psycopg2-binary = "==2.8.5"

[requires]
python_version = "3.8"
