{% extends "base.html" %}

{% block title %} Job - Search {% endblock %}

{% block content %}

  <h1 class="title">
    Openings
  </h1>

  <div class="search">
    <form>
      <div class="field is-grouped">
        <p class="control">
          <input
            class="input"
            type="text"
            name="q"
            placeholder="Find an opening"
            value={{ q | default_if_none:'' }}
          >
        </p>
        <p class="control">
          <button class="button is-info"  type="submit">
            Search
          </button>
        </p>
      </div>
    </form>
  </div>

  <div class="openings mt-5">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Role Title</th>
          <th>Company</th>
          <th>Remote</th>
          <th>401K</th>
          <th>Dental Ins.</th>
          <th>Health Ins.</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for opening in openings %}
          <tr>
            <td><a href="{% url 'show' opening.id %}">{{ opening.role_title }}</a></td>
            <td>{{ opening.company.name }}</td>
            <td>{{ opening.is_remote | default_if_none:'-' }}
            <td>{{ opening.has_401k | default_if_none:'-' }}
            <td>{{ opening.has_dentalins | default_if_none:'-' }}
            <td>{{ opening.has_healthins | default_if_none:'-' }}
            <td><a target="_blank" href="{{opening.url }}">visit page</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No openings found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if openings.has_other_pages %}
  <nav class="pagination is-small mt-5" role="navigation" aria-label="pagination">
    {% if openings.has_previous %}
      <a class="pagination-previous" href="?page={{ openings.previous_page_number }}&{{ qs.urlencode }}">Previous</a>
    {% endif %}

    {% if openings.has_next %}
      <a class="pagination-next" href="?page={{ openings.next_page_number }}&{{ qs.urlencode }}">Next page</a>
    {% endif %}

    <ul class="pagination-list">
      {% for page in openings.paginator.page_range %}
        <li>
          <a
            class="pagination-link {% ifequal page openings.number %} is-current {% endifequal %}"
            aria-label="Goto page {{ page }}"
            href="?page={{ page }}&{{ qs.urlencode }}"
          >
            {{ page }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

{% endblock %}
