{% extends "base.html" %}

{% block head_title %} Openings - Search {% endblock %}

{% block header_level_left %}
  <div class="level-item">
    <form>
      <div class="field is-grouped">
        <p class="control">
          <div>
            <input
              class="input {% if form.q.errors %}is-danger{% endif %}"
              type="text"
              name="q"
              placeholder="Find an opening"
              value={{ form.q.value | default_if_none:'' }}
            >
            <span class="is-size-7 is-italic has-text-danger">{{ form.q.errors }}</span>
          </div>

          <div id="locations" class="ml-3 {% if form.is_spatial.value is False %}is-hidden{% endif %}">
            <div class="select {% if form.location.errors %} is-danger {% endif %}">
              {{ form.location }}
            </div>
            <span class="is-size-7 is-italic has-text-danger">{{ form.location.errors }}</span>
          </div>
        </p>
        <p class="control ml-3">
          <button class="button is-info" type="submit">
            Search
          </button>
        </p>
        <input type="hidden" id="is_spatial" name="is_spatial" value="{{ form.is_spatial.value }}">
      </div>
    </form>
  </div>
{% endblock %}

{% block content %}
  <div class="pb-5" style="margin-top: -15px;">
    <div class="is-narrow pb-5 is-pulled-right">
      <input
        id="is_spatial_ctrl"
        type="checkbox"
        name="is_spatial_ctrl"
        class="switch is-rounded is-info is-small"
        {% if form.is_spatial.value %}
          checked="checked"
        {% endif %}
      >
      <label for="is_spatial_ctrl">Enable Geospatial Search</label>
    </div>

    {% if locations %}
    <div class="is-pulled-left">
      <b>Matched Locations:</b> {% for loc in locations %} {{ loc.name }}; {% endfor %}
    </div>
    {% endif %}
  </div>

  {{ form.non_field_errors }}

  <div class="openings mt-5">
    <table class="table is-fullwidth is-hoverable is-striped">
      <thead>
        <tr>
          <th>Role Title</th>
          <th>Company</th>
          <th>Remote</th>
          <th>401K</th>
          <th>Dental Ins.</th>
          <th>Health Ins.</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for opening in openings %}
          <tr>
            <td><a href="{% url 'show' opening.id %}">{{ opening.role_title }}</a></td>
            <td>{{ opening.company.name }}</td>
            <td>{{ opening.is_remote | default_if_none:'-' }}
            <td>{{ opening.has_401k | default_if_none:'-' }}
            <td>{{ opening.has_dentalins | default_if_none:'-' }}
            <td>{{ opening.has_healthins | default_if_none:'-' }}
            <td><a target="_blank" href="{{opening.url }}">visit page</a></td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3">No openings found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  {% if openings.has_other_pages %}
  <nav class="pagination is-small mt-5" role="navigation" aria-label="pagination">
    {% if openings.has_previous %}
      <a class="pagination-previous" href="?page={{ openings.previous_page_number }}&{{ form.urlencode }}">Previous</a>
    {% endif %}

    {% if openings.has_next %}
      <a class="pagination-next" href="?page={{ openings.next_page_number }}&{{ form.urlencode }}">Next page</a>
    {% endif %}

    <ul class="pagination-list">
      {% for page in openings.paginator.page_range %}
        <li>
          <a
            class="pagination-link {% ifequal page openings.number %} is-current {% endifequal %}"
            aria-label="Goto page {{ page }}"
            href="?page={{ page }}&{{ form.urlencode }}"
          >
            {{ page }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

{% endblock %}

{% block extra_body %}
  <script type="text/javascript">
    window.addEventListener("load", function() {
      var spatial_ctrl = $('#is_spatial_ctrl');
      var locations = $('#locations');
      var spatial = $('#is_spatial');

      if (spatial_ctrl.value[0] && locations.value[0]) {
        spatial_ctrl.on('click', function() {
          var checked = spatial_ctrl.value[0].checked;
          spatial.value[0].value = checked;

          if (checked) {
            locations.removeClass("is-hidden");
          } else {
            locations.addClass("is-hidden");
            $('#id_location').value[0].selectedIndex = 0;
          }
        });
      }
    });
  </script>
{% endblock %}
